* {
  box-sizing: border-box;
}

.container {
  max-width: 92%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 1fr;
}

.card {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(255 255 255);
  padding: 1em;
  display: flex;
  justify-content: center;
}

.card svg {
  padding: 2px;
  margin: 3px;
}

.card-selected {
  border: 2px solid rgb(255 0 0);
  background-color: rgb(255 20 20 / 0.2);
}

@media (width <600px) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (width >=600px) {
  .container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}